server {
    server_name {{ live_hostname }};
    root {{ nginx_www_path }}/wordpress;

    index index.php;

    include {{ nginx_config_path }}/global/restrictions.conf;
    include {{ nginx_config_path }}/global/wordpress.conf;
}
