location / {
    try_files $uri $uri/ /index.php?$args;
}

rewrite /wp-admin$ $scheme://$host$uri/ permanent;

location ~* ^.+\.(ogg|ogv|svg|svgz|eot|otf|woff|mp4|ttf|rss|atom|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$ {
       access_log off; log_not_found off; expires max;
}

location ~ [^/]\.php(/|$) {
    include {{ nginx_config_path }}/fastcgi_params;
    {% if ansible_distribution_release == "jessie" %}
    include {{ nginx_config_path }}/fastcgi.conf;
    {% endif %}

    fastcgi_split_path_info ^(.+?\.php)(/.*)$;

    if (!-f $document_root$fastcgi_script_name) {
        return 404;
    }

    fastcgi_index index.php;
    fastcgi_pass php5;
}
